# Server
NODE_ENV=development
PORT=3001

# CORS - Frontend URL
CORS_ORIGIN=http://localhost:5173

# Database (uncomment and configure as needed)
# DB_URI=mongodb://localhost:27017/naita
DB_URI = mongo_db_uri

POSTGRES_URI= POSTGRES_URI

# NATS Settings
NATS_URI=nats://localhost:4222



SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_gmail_app_password
SMTP_FROM="Hotel Maintenance" <your_email@gmail.com>

TWILIO_ACCOUNT_SID=ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=+12345678901

ENABLE_LIVE_PUSH=true